<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xudod.gen_code.table_base_info.domain.mapper.TableBaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.xudod.gen_code.table_base_info.domain.entity.po.TableBaseInfo">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="domain_id" jdbcType="CHAR" property="domainId" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="table_edit" jdbcType="VARCHAR" property="tableEdit" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="inf_status" jdbcType="VARCHAR" property="infStatus" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="deleted" jdbcType="VARCHAR" property="deleted" />
    <result column="client_type" jdbcType="VARCHAR" property="clientType" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, domain_id, table_name, table_edit, sequence, remark, inf_status, status, version, 
    deleted, client_type, create_by, create_time, modify_by, modify_time
  </sql>
</mapper>
